body {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  text-align: center;
  color: lightblue;
}

p {
  color: coral;
  text-align: justify;
  text-indent: 20px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  word-spacing: 5px;
}